.base-checkbox {
  :deep(.el-checkbox__inner) {
    border-radius: 4px;
    transition: all 0.2s;
  }

  :deep(.el-checkbox__inner.is-checked) {
    background-color: var(--el-color-primary);
  }

  &:hover :deep(.el-checkbox__inner) {
    border-color: var(--el-color-primary);
  }
}
